    @keyframes fadeIn {
        from {
        opacity: 0;
        }
        to {
        opacity: 1;
        }
    }
    
    [data-aos="fade-in"] {
        animation: fadeIn 1s ease-in-out forwards;
    }